### IMPORT

In [71]:
import pandas as pd
import sqlite3
from sqlalchemy import create_engine # DATABASE CONNECTION LIBRARY

Instalar o Sqlite3 no jupyter:   pip install sqlalchemy

### 1.0 CALLING DATA IN CSV

In [72]:
data = pd.read_csv('shirts_data/analise_hm.csv')

### 2.0 INSERT DATA IN SQLITE DATABASE

In [73]:
# INSERT DATA

data_insert = data[[
    'product_id',
    'product_category',
    'product_name',
    'product_price',
    'gender'                      
]]

In [74]:
# TYPES OF EACH COLUMN
query_showroom_schema = """
    CREATE TABLE data (
    product_id         INTEGER, 
    product_category   TEXT,
    product_name       TEXT, 
    product_price      REAL,
    gender             TEXT
    
    )
"""

### 3.0 CONNECT TO DATASET

In [79]:
# CREATE AND CONNECT TO THE DATABASE
conn = sqlite3.connect( 'hm_data_db.sqlite' )

# LAUNCHES THE EXECUTION OF THE QUERY IN THE DATABASE
cursor = conn.execute( query_showroom_schema )

# EXECUTE IN DATABASE
conn.commit()

# CLOSE CONNECTION TO NOT STAY OPEN
conn.close()

In [76]:
conn = create_engine( 'sqlite:///hm_data_db.sqlite', echo=False )

In [77]:
# INSERT DATA TO TABLE
data.to_sql( 'data', con=conn, if_exists='append', index=False )

### 4.0 IMPORTING DATABASE TO CSV FORMAT

In [78]:
query = """
    SELECT * FROM data
"""

df = pd.read_sql_query( query, conn )
df = df.drop_duplicates()
df

,product_id,product_category,product_name,product_price,gender
0,963662002,ladies_basics_tops_shortsleeve,cotton_t-shirt,5.99,female
1,762558221,ladies_tops_printed_tshirts,oversized_printed_t-shirt,17.99,female
2,762558228,ladies_tops_printed_tshirts,oversized_printed_t-shirt,17.99,female
3,762558229,ladies_tops_printed_tshirts,oversized_printed_t-shirt,17.99,female
4,1031652022,ladies_tops_printed_tshirts,printed_t-shirt,17.99,female
...,...,...,...,...,...
578,1032529012,men_tshirtstanks_shortsleeve,regular_fit_t-shirt_with_chest_pocket,14.99,male
579,1084761001,men_tshirtstanks,wool-blend_base-layer_top,64.99,male
580,874167001,men_tshirtstanks_multipacks,2-pack_coolmax®_tank_tops,24.99,male
581,980142003,men_tshirtstanks_shortsleeve,relaxed_fit_t-shirt,12.99,male
582,1050024002,men_tshirtstanks_tanks,embroidered-detail_tank_top,14.99,male